

</body>

<footer>
  <link rel="stylesheet" href="../css/styles.css">
  <div class="footer">
    <p class="footer-style"> Copyrights @ 2020 - <%-  new Date().getFullYear() ; -%> 
                             <br /> © The Top Of Cliff Developer. All rights reserved.
                            <br /> Written by Clinto Abraham. Email me : clinto92@gmail.com
                            </p>
    
  </div>
</footer>

</html>
