

</body>

<footer>
  <link rel="stylesheet" href="../css/styles.css">
  <div class="footer-padding"></div>
  <div class="footer">
    <p> @ 2020 - <%-  new Date().getFullYear() ; -%>  © The Top Of Cliff Developer. All rights reserved.</p>
    
  </div>
</footer>

</html>
